<div class="wrapper">
  <div class="roundLuck">
    <span class="letter">R</span>
    <span class="letter">O</span>
    <span class="letter">U</span>
    <span class="letter">N</span>
    <span class="letter">D</span>
    <span class="letter">&nbsp;</span>
    <span class="letter">L</span>
    <span class="letter">U</span>
    <span class="letter">C</span>
    <span class="letter">K</span>
</div>


  <div class="container">
    <div class="hypnotic"></div>
  </div>
  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>





