<ng-container *ngIf="isMobile; else messageTemplate">
  <app-navbar>
    <router-outlet></router-outlet>
  </app-navbar>
</ng-container>

<ng-template #messageTemplate>
  <div class="messageContainer">
    <h1 >We are <span class="letter">sorry</span> !</h1>
    <h2>...this app is only accessible on mobile phones.</h2>
    <div class="QR-container">
      <mat-label>Scan this QR code to access the app</mat-label>
      <img ngSrc="assets/images/QRcode.png" alt="QR code" height="300" width="300">
    </div>


  </div>
</ng-template>



