.login-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  form {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    H1 {
      font-size: 1.5rem;
      font-weight: 100;
      margin: 0;
      color: #fff;
    }
    mat-label {
      font-size: 1rem;
      margin: 0;
      color: #fff;
    }
    input[type="text"]{
      font-size: 1rem;
      font-family: "Unbounded", sans-serif;
    }
    .button-left {
      width: 5%;
      height: 100%;
    }
    .option-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  .options {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    .register{
      color: rgb(203, 32, 132);
      font-size: 0.8rem;
      font-family: "Unbounded", sans-serif;
    }
    .forgot-password {
      font-family: "Unbounded", sans-serif;
      text-decoration : underline;
      color: #A7A7A7;
      font-size: 0.6rem;
      margin-top: 1rem;
    }
  }
}




form::before,
form::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

form::before {
  top: 0;
}

form::after {
  bottom: 0;
}

mat-form-field {
  width: 100%;
  color: #fff;
  mat-label {
    color: #fff;
    font-size: 1.5rem;
  }
  input {
    color: #fff;
    font-size: 1.3rem;
  }
  mat-error {
    color: yellow;
  }
}

mat-raised-button {
  margin-left: 10px;
  margin-right: 10px;
}



.google-login{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
