<div class="popup-container">
  <p>
    I am sorry but the app is not yet available on Google Play Store.
  </p>
  <p>
    I've recently begun exploring Flutter's capabilities for developing Android apps.
  </p>
  <p>A very first version of this app can be
    <a href="https://drive.google.com/drive/folders/1uDZ0spaIoUzOIn9aHAlkp9OZ4DYTi9V2?usp=drive_link" target="_blank">downloaded</a> as an APK and the source code can be accessed
    <a href="https://github.com/bahia-gsa/flutterRoudLuck" target="_blank">here</a>.
  </p>
</div>
