<div class="about-container">
  <h1>About</h1>
  <p>
    This little app was created by me to practise my development skills.
    Its structure is divided into 4 components:
  </p>
  <div class="component">
    <img src="assets/images/angular.png">
    <p>
      for UI development.
    </p>
  </div>
  <div class="component">
    <img src="assets/images/spring.png">
    <p>
      for user authentication logic.
    </p>
  </div>
  <div class="component">
    <img src="assets/images/quarkus.svg">
    <p>
      utilising Kotlin to handle the business server-side logic.
    </p>
  </div>
  <div class="component">
    <img src="assets/images/postgres.png">
    <p>
      as DBMS.
    </p>
  </div>

  <div class="deployment">
    <p>
      As for its deployment, I used the following Google Cloud Platform (GCP) services:
    </p>
    <p>
      <span>Google Run: </span> for the dockerized apps Spring and Quarkus.
    </p>
    <p>
      <span>Instance SQL: </span> with postgres.
    </p>
    <p>
      <span>Cloud Storage Buckets: </span> for the Angular static files
    </p>
    <p>
      The source code can be accessed <a href="" target="_blank">here</a>
    </p>
    <p>
      My <a href="https://www.linkedin.com/in/schaedler-almeida" target="_blank">linkedin</a> profile
    </p>
    <p>
      You can also contact me via this <span class="contact" (click)="openContactForm()" >form</span>
    </p>
  </div>
</div>
