<div class="about-container">
  <h1>Unveiling</h1>
  <p>
    I developed this app to enhance my programming skills, allowing users to effortlessly create and manage multiple participant lists.
    Users can easily add, remove, and edit names to keep lists up-to-date.
    The app ensures equal chances for each participant to be randomly selected with a single tap, making it ideal for picking winners or assigning tasks.
    Its structure is divided into 4 components:
  </p>
  <div class="component">
    <img src="assets/images/angular.png" alt="angular logo">
    <p>
      for UI development.
    </p>
  </div>
  <div class="component">
    <img src="assets/images/spring.png" alt="spring logo">
    <p>
      for user authentication logic.
    </p>
  </div>
  <div class="component">
    <img src="assets/images/quarkus.svg" alt="quarkus logo">
    <p>
      utilising Kotlin to handle the business server-side logic.
    </p>
  </div>
  <div class="component">
    <img src="assets/images/postgres.png" alt="postgres logo">
    <p>
      as DBMS.
    </p>
  </div>

  <div class="deployment">
    <p>
      As for its deployment, I used the following Google Cloud Platform (GCP) services:
    </p>
    <p>
      <span>Google Run: </span> for the dockerized apps Spring and Quarkus.
    </p>
    <p>
      <span>Instance SQL: </span> with postgres.
    </p>
    <p>
      <span>Cloud Storage Buckets: </span> for the Angular static files
    </p>
    <div class="details">
      <img id="github" (click)="navigateToGitHub()" src="assets/images/GitHub.svg" alt="GitHub logo">
      <img id="linkedin" (click)="navigateToGitHub()" src="assets/images/linkedin-blue.svg" alt="LinkedIn logo">
      <img id="google" (click)="openPopup()" src="assets/images/google-play.svg" alt="Google Play logo">
    </div>


  </div>
</div>
